<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="BC WildWatch - Campus Animal Safety Reporting System for Belgium Campus iTversity">
  <title><%= title || 'BC WildWatch' %></title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (typeof adminPage !== 'undefined' && adminPage) { %>
  <link rel="stylesheet" href="/css/admin.css">
  <% } %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f981.png" type="image/png">
</head>
<body>
